@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url("./fonts/GothamMedium.ttf") format("truetype");
  font-weight: medium;
}

* {
  font-family: "Gotham";
}

* {
  scroll-behavior: smooth;
}
