@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url("./fonts/GothamMedium.ttf") format("truetype");
  font-weight: medium;
}

* {
  font-family: "Gotham";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  a {
    @apply text-blue-900;
  }
}
